@model IEnumerable<VictorSuquilanda_TallerClase1.Models.Jugador>

@{
    ViewData["Title"] = "Index";
}

<h1>Jugadores</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-secondary">Add Jugador</a>
</p>

<div class="mb-3">
    <label for="filtrarPorEquipo" class="mb-2">Filtro</label>
    <select id="filtrarPorEquipo" class="form-control" placeholder="Escoge un equipo para filtrar tu búsqueda">
        <option value="">Ver todos</option>
        @foreach (var equipo in ViewBag.Equipos)
        {
                <option value="@equipo.Id">@equipo.Name</option>
        }
    </select>
</div>


<table id="playersTable" class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posicion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr equipo-id="@item.IdEquipo">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posicion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipo.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>  
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">Details</a>  
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
        <script>
            document.getElementById('filtrarPorEquipo').addEventListener('change', (event) => {
                const selectedEquipoId = event.target.value;
                    const rows = document.querySelectorAll('#playersTable tbody tr');

                rows.forEach(row => {
                    const equipoId = row.getAttribute('equipo-id'); 
                    if (selectedEquipoId === "" || equipoId === selectedEquipoId) {
                        row.style.display = ""; 
                    } else {
                        row.style.display = "none";
                    }
                });
            });
        </script>
}
